body {
     font: 20px Montserrat, sans-serif;
     line-height: 1.8;
  /* ?* color: #f5f6f7; */
 }
 p {font-size: 19px;}
 @media (max-width: 600px) {
     .tle{
         align-items: left;
     }
     .back{
         padding-left: 30px !important;
     }
     .top-form{
         display: inline-block;
         align-items: left;
         margin: auto;
         font: 20px Montserrat, sans-serif;
     }
     .keyword-form{
         /* height: 60px !important;*/
         width: 400px !important;
         font-size: 20px !important;
     }
     .keyword-form::placeholder{
         font-size: 20px !important;
     }
     .unit-form{
         /* height: 60px !important;*/
         width: 400px !important;
        font-size: 20px !important;
     }
     .category-form::placeholder{
         font-size: 20px !important;
     }
     .category-form{
         /* height: 60px !important;*/
         width: 400px !important;
         font-size: 20px !important;
     }
     #form-text{
         position: relative !important;
         left: 0px;
     }

      input[type=radio] {
         float: left;
         left: 0px;
         width: 15px;
         height: 15px;
     }
     .radio_loc{
         position: relative !important;
         left: 0px;
     }
     .location-form{
         height: 40px !important;
         width: 370px !important;
         font-size: 20px !important;
     }
     .table-form{
         width: 400px !important;
         margin: auto;
     }
     .map-form{
         width: 400px !important;
         margin: auto;
         height: 200px !important;
         padding-bottom: 100px !important;
     }
     .head-form{
         width: 250px !important;
         margin: auto;
     }
     .tab-width{
         width: 400px !important;
         margin: auto;
     }

 }
 .popup .popuptext {
   visibility: hidden;
   width: 330px;
   height: 330px;
   background-color: #fff;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
 }
 @media screen and (min-width: 650px) {
     .tle{
         align-items: center;
     }
     .popup .popuptext {
       visibility: hidden;
       width: 1000px;
       height: 1000px;
       background-color: #fff;
       color: #fff;
       text-align: center;
       border-radius: 6px;
       padding: 8px 0;
       position: absolute;
       z-index: 1;
       bottom: 125%;
       left: 50%;
       margin-left: -80px;
     }
     .table-form{
         width: 1500px !important;
         margin: auto;
     }
     .head-form{
         width: 1500px !important;
         margin:auto;
     }
     .top-form{
         padding-top: 50px;
         padding-bottom: 50px;
         padding-left: 30px;
         padding-right: 30px;
         width: 1200px;
         margin: auto;
         font: 20px Montserrat, sans-serif;
     }
     .keyword-form{
         width: 800px !important;
     }
     .location-form{
         width: 800px !important;
     }
     .category-form{
         width: 200px !important;
     }
 }


.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: green;
}

a{
    color: grey;
}

.btn-change{
    background-color: white !important;
    color: #007bff !important;
    border-color: white !important;
}

.btn-clear{
    background-color: white !important;
    border-color: #E9ECEF !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.invert{
    transform: scaleX(-1);
   -moz-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   -ms-transform: scaleX(-1);
}

.back{
    background-color: #FAF9FA;
    padding-left: 100px;
    padding-right: 100px;
}

.button-center{
    align-items: center;
}

.rating:not(:checked) > label:before {
    content:'★ ';
}

.hide-table{
    opacity:0 !important;
}


.he{
    height: 0px !important;
    opacity: 0 !important;
}

.star-fill{
    color: orange !important;
}

#map {
  height: 600px;

  /* The height is 400 pixels */
  width: 1500px;
  /* The width is the width of the web page */
}

#radio11{
    display: inline-block;
    vertical-align: middle;
}

/* .one{
    background-color: red;
}

.two{
    background-color: green;
}

.three{
    background-color: blue;
}
.four{
    background-color: yellow;
} */

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */

/* Popup arrow */
/* .popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.popup{
    color: blue;
}
