hr {
  width: 1200px;
  height: 1px;
  background-color: #cdd;
  border: none;
  /* https://www.tutorialrepublic.com/codelab.php?topic=faq&file=css-change-the-color-of-an-hr-element (last three lines)*/
}

h3{
   display: inline;
}

.topnav{
  overflow: hidden;
  position: relative;
  padding-left: 135px !important;
}

ul{
    padding-left: 70px
}

li{
     float: left;
     display: inline-block;
     text-align: center;
     list-style-type: none;
     line-height: 1.5;
     padding-left: 60px;
     padding-right: 80px;
     font-size: 10.5px;
     font-family: sans-serif;
     font-weight: bold;
     color: #696969;
     letter-spacing: 1px;
}


.text7{
  font-size: 10.5px;
  font-family: sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #696969;
}

.Cursive_Text{
  font-family: cursive;
  font-size: 32px;
  letter-spacing: 0.5px;
  color: #BD9C58;
  line-height: 1.2;
}

.text_box1{
/*  background-color: yellow;*/
  height: 400px;
  width: 400px;
  text-align: left;
  margin-left: 7%;
}

    .text8{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #444555;
    }

    .text9{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #111111;
    letter-spacing: -0.5px;
    }

    .text9 a{
        color: black;
        text-decoration: none;
    }

.text_box{ /* For Text 10and11*/
  position: absolute;
  top: 210px;
  left: 370px;
  background-color: white;
  padding-top: 40px;
  padding-right: 100px;
  padding-bottom: 40px;
  padding-left: 100px;
  text-align: center;

}

    .text10{
        color: grey;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 10.5px;
        letter-spacing: 0.5px;
    }

    .text11{
        color: #666666;
        font-weight: normal;
        font-size: 28px;
    }

    .text11 a{
        color: #666666;
        text-decoration: none;
    }

.text12{
    font-size: 10.5px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #696969;
    line-height: 4;
}

.cursive_quote{
    font-family: cursive;
    font-size: 32px;
    letter-spacing: 0.5px;
    color: #BD9C58;
    line-height: 1.2;
}

/* HEADER */

.header{
  width: 1200px;
}

    .header-textbox{
         width: 150px;
         left: 150px;
         top: 20px;
         position: absolute;
         font-size: 13px;
     }

    .topnav a {
        float: left;
        color: grey;
        text-align: center;
        padding: 3px 3px;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: -1px;
    }

    .title{
        font-size: 50px;
        color: #BD9C58;
        text-align: center;
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 8px;
    }

    .header-address-text{
        color: #444555;
        font-family: sans-serif;
        font-weight: normal;
    }


/* HEader End */


/*Container Divs*/

.top-container-1{
  display: flex;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  flex-direction: column;
  text-align: left;
}

    .container-1{ /* https://www.educative.io/edpresso/how-to-add-a-parallax-scrolling-effect-using-css parallax code borrowed from */

    	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    }

    .image1{
        background-image: url("image6.jpg");
        width: 1200px;
        height: 650px;
        background-size: 150% 105%;
        background-position: top;
        object-fit: fill;
    }

    .container-2{
    /*background-color: purple;*/
        display: flex;
        padding-top: 90px;
        padding-bottom: 70px;
        padding-left: 72px;
        min-width: 950px;
        min-height: 950px;
        max-width: 950px;
        max-height: 950px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        padding-top: 150px;
    }

    .top_left{
    /*background-color: blue;*/
        flex:1; /* same width if u do 3 its twice as long as box below*/
        order:1;/* not necessary but this is the first item from left*/
        height: 1175px;
        padding-top: 160px;

    }

    .top_right{
     /*background-color: red;*/
      flex:1;
      order:2;
      align-items: center; /* stretch is default*/
      padding-top: 7px;
      padding-right: 30px;
      height: 1175px;
    }

.top-container-2 {
  /*background-color: green;*/
    display: flex;
    padding-left: 118px;
    padding-right: 110px;
    min-width: 830px;
    min-height: 780px;
    max-width: 830px;
    max-height: 780px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex-direction: column;
    text-align: center;
}

    .bottom_middle2{
    /*  background-color: red;*/
        flex:1;
        order: 1;
    }

    .bottom_middle3{
    /*background-color: blue;*/
        flex:1;
        order: 2;
        position: relative;
        top: -35px;
        padding-bottom: -80px
    }

/* FOOTER */

.top_container-3{
/*  background-color: green;*/
}
    .container-3{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bottomimage{
        background-image: url("image5.jpg");
        width: 1200px;
        height: 475px;
        opacity: 0.83;
        background-position: 50% 195px;
    }
        .footer{
          text-align: right;
          background-color: #BD9C58;
          padding-bottom: 100px;
          width: 1200px;
          height: 70px;
          position: relative;
        }

        .footer_text{
         position: absolute;
         top: 45px;
         right: 100px;
          color: white;
          text-align: left;
          font-family: sans-serif;
          font-weight: normal;
          font-size: 11px;

        }

/* IMAGES */

.img2_left{

  height: 500px;
  width: 400px;
  padding-bottom: 30px;
}

.img3_left{

  height: 100%;
  width: 400px;
  padding-bottom: 70px;
}

.img2_right{
  float: left;
  width: 400px;
  height: 325px;
  padding-bottom: 30px;
  padding-top: 75px;
}

.img3_right{
  float: left;
  width: 400px;
  height: 410px;
}


.img1_bottom{
  width: 100%;
  height: 570px;
}

.img2_bottom{
  width: 1200px;
  height: 550px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  object-fit: cover;
  object-position: 100%;
}

.container-1 div, .container-3 div{
  padding: 10px;
}
